@model List<LeaveRequestView>

@{
    ViewData["Title"] = "Leave requests";
    var requestsJson = System.Text.Json.JsonSerializer.Serialize(Model);

}

<a asp-action="Create" class="btn btn-primary">Create new request +</a>
<table class="leaves-table">
    <thead id="leaverequests-table-head">
        <tr>
            <th><button class="btn" onclick="sortById()">ID</button></th>
            <th><button class="btn" onclick="sortByReason()">Reason</button></th>
            <th><button class="btn" onclick="sortByStartDate()">Start</button></th>
            <th><button class="btn" onclick="sortByEndDate()">End</button></th>
            <th><button class="btn" onclick="sortByStatus()">Status</button></th>
        </tr>
    </thead>
    <tbody id="leaverequests-table-body"></tbody>
</table>

<script>
    let requests = @Html.Raw(requestsJson);
    let tableBody = document.getElementById("leaverequests-table-body");
    let currentSorting = "IDAscending";

    function displayTableBody() {
        tableBody.innerHTML = "";
        requests.forEach(function (request) {
            let row = document.createElement("tr");
            let activeSubmit = '';
            let activeCancel = '';
            switch (request.Status) {
                case 'New':
                    activeCancel = 'active';
                    activeSubmit = 'active';
                    break;
                case 'Submit':
                    activeCancel = 'active';
                    activeSubmit = 'disabled';
                    break;
                case 'Cancel':
                    activeCancel = 'disabled';
                    activeSubmit = 'disabled';
                    break;
                default:
                    break;
            }

            row.innerHTML =
                `<td>${request.ID}</td>
                <td>${request.AbsenceReason}</td>
                <td>${request.StartDate}</td>
                <td>${request.EndDate}</td>
                <td>
                    ${request.Status}
                    <br/>
                    <button class="btn btn-success" onclick="Submit(${request.ID})" ${activeSubmit}>Submit</button>
                    <button class="btn btn-danger" onclick="Cancel(${request.ID})" ${activeCancel}>Cancel</button>
                </td>
                    <td><a href="https://localhost:7129/LeaveRequests/Edit?id=${request.ID}">Details / Update</a></td>`;
            tableBody.appendChild(row);
        });
    }

    displayTableBody();

    function Submit(id) {
        const url = `LeaveRequests/Submit?id=${id}`;
        const options = {
            method: 'PATCH',
        };
        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
            })
            .then(data => {

                for (let i = 0; i < requests.length; i++) {
                    if (requests[i].ID === id) {
                        requests[i].Status = "Submit";
                        break;
                    }
                }
                displayTableBody();
                //console.log('Отримані дані:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    function Cancel(id) {

        const url = `LeaveRequests/Cancel?id=${id}`;
        const options = {
            method: 'PATCH',
        };
        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
            })
            .then(data => {
                for (let i = 0; i < requests.length; i++) {
                    if (requests[i].ID === id) {
                        requests[i].Status = "Cancel";
                        break;
                    }
                }
                displayTableBody();
                //console.log('Отримані дані:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function sortById() {
        if (currentSorting === "IDAscending") {
            currentSorting = "IDDescending";
            //requests.sort((a, b) => b.ID - a.ID);
            requests.reverse();
        } else {
            currentSorting = "IDAscending";
            requests.sort((a, b) => a.ID - b.ID);
        }
        displayTableBody();
    }

    function sortByReason() {
        if (currentSorting === "ReasonAscending") {
            currentSorting = "ReasonDescending";
            //requests.sort((a, b) => b.AbsenceReason.localeCompare(a.AbsenceReason));
            requests.reverse();
        } else {
            currentSorting = "ReasonAscending";
            requests.sort((a, b) => a.AbsenceReason.localeCompare(b.AbsenceReason));
        }
        displayTableBody();
    }

    function sortByStartDate() {
        if (currentSorting === "StartAscending") {
            currentSorting = "StartDescending";
            //requests.sort((a, b) => b.StartDate.localeCompare(a.StartDate));
            requests.reverse();
        } else {
            currentSorting = "StartAscending";
            requests.sort((a, b) => a.StartDate.localeCompare(b.StartDate));
        }
        displayTableBody();
    }

    function sortByEndDate() {
        if (currentSorting === "EndAscending") {
            currentSorting = "EndDescending";
            //requests.sort((a, b) => b.EndDate.localeCompare(a.EndDate));
            requests.reverse();
        } else {
            currentSorting = "EndAscending";
            requests.sort((a, b) => a.EndDate.localeCompare(b.EndDate));
        }
        displayTableBody();
    }

    function sortByStatus() {
        if (currentSorting === "StatusAscending") {
            currentSorting = "StatusDescending";
            //requests.sort((a, b) => b.Status.localeCompare(a.Status));
            requests.reverse();
        } else {
            currentSorting = 'StatusAscending';
            requests.sort((a, b) => a.Status.localeCompare(b.Status));
        }
        displayTableBody();
    }

</script>
